.example-box{
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  padding: 0.01em 16px 20px;
  margin: 20px 20px 20px 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}
.codebox{
  max-height: 500px;
  overflow: auto;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
  width: auto;
  color: #595959;
  background-color: #fff;
  padding: 8px 12px;
  border-left: 4px solid #4CAF50;
  word-wrap: break-word;
}

.code-info{

}

.inline-code{
  color: #757575;
  font-weight: bold;
  font-size: 15px;
  background-color: #fff;
  padding: 1px 3px;
}
