html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  color: #E8E4DF;
  font-family: 'Maven Pro', serif;
  display: flex;
  flex-flow: column nowrap;
}

p {
  text-align: justify;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}

h1{
  color: #757575;
  font: 300 34px/40px 'Roboto',sans-serif;
  /*letter-spacing: -.01em;*/
  margin: 40px 0px 20px;
}

h3{
  color: #757575;
  font: 200 27px 'Roboto',sans-serif;
  letter-spacing: -.01em;
  margin: 40px 0px 20px;
}

h4{
  color: #757575;
  font: 200 22px 'Roboto',sans-serif;
}

.container{
  color: #1a34c9;
  display: flex;
  flex-flow: row;
  flex: 1;
  padding: 10px;
  margin: 10px;
}

.cover{
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  /*background-color: rgba(0, 0, 0, 0.3);*/
  background-size: cover;
  background-image: url("../img/home-background.jpg");
  background-repeat: no-repeat;
  justify-content: space-around;
}

.quote{
  display: block;
  color: white;
  height: 150px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 35px;
  margin-top: 20px;
  padding: 50px;
}

.quote-info{
  text-align: right;
}

.video-frame{
  display: block;
  margin: 50px;
  /*align-content: flex-end;*/
  height: 360px;
  width: 480px;
}
.content{
  flex: 3 1 75%;
  color: black;
  font-family: 'Open Sans', sans-serif;
  padding: 0px 50px 20px;
  overflow: auto;
}


.footer{
  height: 50px;
  background-color: #2A576A;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
