.top-nav{
  cursor: pointer;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  background-color: #2A576A;
  align-items: stretch;
}

.top-nav a {
  padding: 15px;
  display: flex;
  text-decoration: none;
  color: #fff;
}

.top-nav a:hover{
  background-color: #204D60;
}

.top-nav li:first-child{
  flex: 2 0 0;
}

.top-nav .logo {
  font-family: 'Maven Pro', sans-serif;
}

.top-nav li:active{
  border-bottom: 5px;
}

.left-nav{
  flex: 1 6 25%;
  padding: 0;
  margin: 0;
  background-color: #f7f7f7;
}

.left-nav li{
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  padding: 10px;
}


.left-nav a:active{
  text-decoration: underline;
}

.active-link{
  text-decoration: underline;
}
