#styled-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	/*border-radius: 10px;*/
	background-color: #F5F5F5;
}

#styled-scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#styled-scroll::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #666666;
}
