.img-container {
  max-width: 200px;
  justify-content: center;
}

.responsive-image {
  max-width: 250px;
}

.cell{
  /*width: 50%;*/
  max-width: 200px;
  /*height: 200px;*/
  margin: 10px;
  border-bottom: 4px solid #4CAF50;
  /*padding: 10px;*/
  /*background-color: grey;*/
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.cell img {
  height: 200px;
  width: 100%;
  /*width: inherit;*/
  display: block;
}

.book-info{
  max-width: inherit;
    display: block;
    padding: 10px;
    /*text-align: center;*/
}

.book-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  /*text-align: center;*/
  color: black;
}

.release-year{
  color: #595959;

}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: row;
    overflow: auto;
  }
}

@media screen and (min-width: 1000px) {
  .grid {
    overflow: auto;
    display: flex;
    width: 100%;
    flex-wrap: no-wrap;
    flex-direction: row;

  }
}
